@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: 'Jura', sans-serif;
  background: #444;
}
.wrapper{
  overflow: hidden;
  min-width: 100%;
}
.content{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.home {
  height: 100vh;
  background: url("../img/home__bg.jpg") 0 0/cover no-repeat;
  align-items: center;
  color: #fff;
  -webkit-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}
.home__title {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin: 30px 0;
}
.home__flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.home__form {
  padding: 20px;
}
.home__form_input {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  background: #aaa;
  color: #fff;
  opacity: 0.4;
  font-size: 25px;
  border-width: 3px;
  border-color: #fff
}
.home__form_input:hover{
  opacity: 0.7;
  background: #fff;
  border-color: blue;
  color: #000
}
.home__form_submit {
  display: block;
  margin: 10px auto;
  padding: 20px 0 10px 0;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background: #F2E57F;
  color: #000
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
.home__form_text {
  text-align: center;
}
.home__text {
  font-size: 50px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  letter-spacing: 10px;
}
/*--------------------*/
.conditions {
  margin: 80px 50px 40px 50px;
  background: #ccc;
  -webkit-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
}
.conditions__title {
  letter-spacing: 10px;
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
.conditions__text {
  letter-spacing: 5px;
  text-align: center;
  font-size: 20px;
}
.conditions__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.conditions__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  text-transform: uppercase;
  width: 300px;
  padding: 30px 0;
}
.conditions__item_picture1 {
  background: url('../img/icons/conditions__item1.png') 0 0/150px 150px no-repeat;
  width: 150px;
  height: 150px;
}
.conditions__item_picture2 {
  background: url('../img/icons/conditions__item2.png') 0 0/120px 120px no-repeat;
  width: 150px;
  height: 150px;
}
.conditions__item_picture3 {
  background: url('../img/icons/conditions__item3.png') 0 0/120px 120px no-repeat;
  width: 150px;
  height: 150px;
}
.conditions__item_title {
  text-align: center;
  font-size: 40px;
  padding: 10px 0 20px 0;
}
.conditions__item_text {
  text-align: center;
  font-size: 15px;
}
/*--------------------*/
.advertisement {
  margin: 80px 0;
  background: url(../img/advertisement.jpg) 0 bottom/cover no-repeat;
  -webkit-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  color: #fff;
}
.advertisement__title {
  letter-spacing: 10px;
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
.advertisement__text {
  letter-spacing: 5px;
  text-align: center;
  font-size: 20px;
}
.advertisement__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.advertisement__item1 {
  background: url('../img/advertisement__item1.jpg') 0 0/150px 150px no-repeat;
  width: 150px;
  height: 150px;
  margin: 3px;
}
.advertisement__item2 {
  background: url('../img/advertisement__item2.jpg') 0 0/150px 150px no-repeat;
  width: 150px;
  height: 150px;
  margin: 3px;
}
.advertisement__item3 {
  background: url('../img/advertisement__item3.jpg') 0 0/150px 150px no-repeat;
  width: 150px;
  height: 150px;
  margin: 3px;
}
/*--------------------*/
.consultation {
  margin: 80px auto;
  padding: 10px 0;
  background: #ccc;
  -webkit-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.5);
}
.consultation__title {
  letter-spacing: 10px;
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}
.consultation__text {
  letter-spacing: 5px;
  text-align: center;
  font-size: 20px;
}
.consultation__button {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background: #F2E57F;
  color: #000
  font-size: 40px;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 20px 0 10px 0;
}

/*--------------------*/
@media screen and (max-width: 1230px) {
  .home__flex {
    flex-direction: column;
    justify-content: space-around;
  }
  .conditions__items {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
}