/*---Nullstyle---*/
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*---/Nullstyle---*/
/*---Variables---*/
/*---/Variables---*/
/*--
::-webkit-scrollbar { 
	width: 0; 
}
*/
body {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 2px;
  color: #fff; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px; }

.wrapper {
  overflow: hidden; }

/*---Scrollbar---*/
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8); }

/*---/Scrollbar---*/
/*---Navigation---*/
.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 100;
  height: auto; }
  .navbar__menu {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 2px 5px 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navbar a {
    position: relative;
    display: inline-block;
    padding: 5px;
    margin: 0 25px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 100%;
    border-bottom: 1px solid transparent; }
    .navbar a:after {
      top: -3px;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      width: 0;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .navbar a:hover:after {
      width: 100%;
      left: 0;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .navbar a.navbar__active-link:after {
    width: 100%;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .navbar__img {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .navbar__img img {
      width: 100%; }

/*---/Navigation---*/
/*---Home---*/
.home {
  background: url("img/home_bg.jpg") center center/cover no-repeat;
  position: relative; }
  .home__wrapper {
    width: 100vw;
    min-height: 101vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .home__text {
    text-align: center;
    max-width: 500px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 9px;
    line-height: 40px;
    margin-top: 30vh; }
  .home__btn {
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    border: #fff 2px solid;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 60px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .home__btn:hover {
      color: #f1c40f;
      border: #f1c40f 2px solid;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

/*---/Home---*/
/*---About--*/
.about-monument {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(86, 100, 114, 0.8)), to(#3b3c3e)), url("img/about-monument-bg.png") center 70%/cover no-repeat;
  background: -webkit-linear-gradient(bottom, rgba(86, 100, 114, 0.8) 0%, #3b3c3e 100%), url("img/about-monument-bg.png") center 70%/cover no-repeat;
  background: -o-linear-gradient(bottom, rgba(86, 100, 114, 0.8) 0%, #3b3c3e 100%), url("img/about-monument-bg.png") center 70%/cover no-repeat;
  background: linear-gradient(0deg, rgba(86, 100, 114, 0.8) 0%, #3b3c3e 100%), url("img/about-monument-bg.png") center 70%/cover no-repeat; }

.about {
  margin-bottom: 100px; }
  .about__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 1; }
    .about__items ::before {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      top: 38%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      background: #8A8F6A;
      width: 100vw;
      height: 30px;
      border: 1px solid #fff;
      z-index: -1; }
  .about__item {
    margin: 10px auto;
    padding: 15px 10px;
    width: 250px;
    height: 100%;
    background: #2A2B2D;
    border-radius: 45px;
    border: 1px solid #707070; }
  .about__item-logo {
    margin: 0 auto;
    width: 70px;
    height: 70px; }
    .about__item-logo img {
      width: 100%;
      height: 100%; }
  .about__item-title {
    padding: 5px;
    margin: 15px auto;
    font-size: 22px;
    letter-spacing: 3px;
    border: 2px solid #707070; }
  .about__item-text {
    color: #A8A8A8;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px; }
  .about__text {
    margin: 30px auto;
    text-align: center; }
  .about__link-to-calc {
    font-weight: bold;
    color: #f1c40f;
    cursor: pointer; }
  .about__important_title {
    font-size: 20px;
    font-weight: bold;
    border: #f1c40f 2px solid;
    border-radius: 10px;
    padding: 2px 2px 2px 4px; }

.monument {
  padding: 10px;
  margin-bottom: 100px; }
  .monument__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 50%;
    flex: 0 50%; }

/*---/About---*/
/*---Granite---*/
.granite {
  background: #566472; }
  .granite__pretext {
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border: #f1c40f 2px solid;
    border-radius: 14px;
    padding: 8px;
    background: #636976; }
  .granite__types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px; }
  .granite__img {
    width: 23%;
    position: relative;
    z-index: 2; }
    .granite__img:nth-of-type(4) {
      z-index: 1;
      position: relative;
      margin-right: 8%; }
      .granite__img:nth-of-type(4)::before {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-68%, -50%);
        -ms-transform: translate(-68%, -50%);
        transform: translate(-68%, -50%);
        position: absolute;
        background: #8A8F6A;
        width: 200vw;
        height: 20px;
        border: 1px solid #fff;
        z-index: -1; }
    .granite__img:nth-of-type(5) {
      z-index: 1;
      position: relative;
      margin-left: 8%; }
      .granite__img:nth-of-type(5)::before {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-32%, -50%);
        -ms-transform: translate(-32%, -50%);
        transform: translate(-32%, -50%);
        position: absolute;
        background: #8A8F6A;
        width: 200vw;
        height: 20px;
        border: 1px solid #fff;
        z-index: -1; }
    .granite__img img {
      display: block;
      margin: 30px auto;
      width: 120px;
      height: 120px;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      .granite__img img:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15); }
    .granite__img span {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      font-size: 14px; }
  .granite__text {
    margin-bottom: 40px; }

/*---/Granite---*/
/*---Calculator---*/
.calculator {
  background: #636976; }
  .calculator__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .calculator__choices {
    padding-top: 20px;
    margin-top: 10px;
    z-index: 2; }
  .calculator__choice {
    width: 600px;
    margin-top: 20px;
    padding: 10px;
    background: #6F7881;
    border-radius: 20px; }
    .calculator__choice-title {
      margin: 5px;
      text-align: center;
      text-decoration: underline;
      font-size: 35px;
      font-weight: bold; }
    .calculator__choice-button-bar {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 20px 0 10px 0; }
    .calculator__choice-button {
      width: 100%;
      margin: 0 5px;
      display: block;
      padding: 5px;
      background: #676767;
      border-radius: 15px;
      color: #fff;
      font-size: 20px;
      border: 2px solid #fff;
      letter-spacing: 3px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .calculator__choice-button:hover {
        border: 2px solid #02CB00;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .calculator__choice-button_active {
        border: 2px solid #02CB00; }
    .calculator__choice-additional-title {
      overflow: hidden;
      margin-top: 15px;
      height: 28px;
      cursor: pointer; }
    .calculator__choice-additional img {
      height: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block; }
    .calculator__choice-additional-content {
      margin: 20px 0; }
    .calculator__choice-granite-bar {
      margin-top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 30px 0 5px; }
    .calculator__choice-granite-types {
      padding-right: 20px;
      position: relative; }
    .calculator__choice-granite-img {
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease; }
      .calculator__choice-granite-img img {
        width: 75px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .calculator__choice-granite-img_active img {
        border-radius: 50%;
        border: 3px solid #02CB00;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .calculator__choice-granite-img:nth-of-type(1) {
        z-index: 1; }
      .calculator__choice-granite-img:nth-of-type(2) {
        -webkit-transform: translateX(60%);
        -ms-transform: translateX(60%);
        transform: translateX(60%);
        z-index: 2; }
      .calculator__choice-granite-img:nth-of-type(3) {
        -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
        transform: translateX(120%);
        z-index: 3; }
      .calculator__choice-granite-img:nth-of-type(4) {
        -webkit-transform: translateX(180%);
        -ms-transform: translateX(180%);
        transform: translateX(180%);
        z-index: 4; }
      .calculator__choice-granite-img:nth-of-type(5) {
        -webkit-transform: translateX(240%);
        -ms-transform: translateX(240%);
        transform: translateX(240%);
        z-index: 5; }
      .calculator__choice-granite-img:nth-of-type(6) {
        -webkit-transform: translateX(300%);
        -ms-transform: translateX(300%);
        transform: translateX(300%);
        z-index: 6; }
      .calculator__choice-granite-img:nth-of-type(7) {
        -webkit-transform: translateX(360%);
        -ms-transform: translateX(360%);
        transform: translateX(360%);
        z-index: 7; }
      .calculator__choice-granite-img:nth-of-type(8) {
        -webkit-transform: translateX(420%);
        -ms-transform: translateX(420%);
        transform: translateX(420%);
        z-index: 8; }
      .calculator__choice-granite-img:nth-last-of-type(n):hover {
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 10; }
        .calculator__choice-granite-img:nth-last-of-type(n):hover img {
          -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
          transform: scale(1.3);
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    .calculator__choice-granite-active {
      width: 120px; }
      .calculator__choice-granite-active-img {
        width: 100%; }
      .calculator__choice-granite-active-title {
        display: block;
        text-align: center;
        font-size: 14px; }
  .calculator__picture-wrapper {
    margin-top: 20px;
    position: relative;
    height: 500px;
    width: 400px; }
    .calculator__picture-wrapper:after {
      content: "";
      position: absolute;
      display: block;
      background: #80818B;
      border-radius: 20px;
      height: 550px;
      width: 70vw;
      top: 0;
      right: 0;
      z-index: 1; }
  .calculator__picture {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 20px; }
    .calculator__picture-price {
      display: inline-block;
      z-index: 2;
      position: absolute;
      background: rgba(255, 255, 255, 0.22);
      border: 2px solid #fff;
      bottom: -15px;
      padding: 5px;
      left: -20px; }

/*---/Calculator---*/
/*---Contacts---*/
.contacts {
  background: #566472; }
  .contacts__form {
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 400px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    .contacts__form::before {
      content: "";
      position: absolute;
      top: 25px;
      left: -1400px;
      height: 6px;
      width: 1800px;
      background: #8A8F6A; }
    .contacts__form::after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: -1300px;
      height: 6px;
      width: 1800px;
      background: #8A8F6A; }
    .contacts__form-part {
      width: 49%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .contacts__form-part:nth-of-type(2) {
        border-left: 1px solid #fff; }
    .contacts__form-label {
      margin-left: 10px;
      display: block; }
    .contacts__form-input {
      margin-left: 10px;
      display: block;
      background: transparent;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 40px;
      width: 300px;
      padding: 6px; }
    .contacts__form-textarea {
      display: block;
      background: transparent;
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      margin: 10px;
      height: 150px;
      resize: none;
      padding: 5px; }
    .contacts__form-submit {
      width: 100%;
      text-align: center;
      padding: 5px;
      border: 1px solid #fff;
      color: #fff;
      font-size: 20px;
      background: transparent;
      letter-spacing: 3px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contacts__form-submit:hover {
        color: #f1c40f;
        border: #f1c40f 1px solid;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

/*---/Contacts---*/
footer {
  padding: 20px 5px;
  background: #566472;
  text-align: right;
  font-size: 14px; }

/*---Repeated Elements---*/
.blur {
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.hidden {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden; }

.dnone {
  display: none; }

.rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.section {
  padding-top: 10px; }

.section-title {
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  line-height: 40px;
  word-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 90px;
  position: relative; }
  .section-title:before {
    content: "";
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 160%;
    left: 50%;
    height: 36px;
    width: 340px;
    background: url("img/nav_line.png") center center/cover no-repeat; }

.triangle {
  width: 0;
  height: 0;
  border-right: 100vw solid transparent;
  position: relative;
  margin-top: 5px; }
  .triangle:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    height: 3px;
    width: 100.5vw;
    background: #fff;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(5.71059deg);
    -ms-transform: rotate(5.71059deg);
    transform: rotate(5.71059deg); }
  .triangle_home {
    border-bottom: calc(0.1 * 100vw) solid #3B3C3E; }
  .triangle_about-monument {
    border-bottom: calc(0.1 * 100vw) solid #566472; }
  .triangle_granite {
    border-bottom: calc(0.1 * 100vw) solid #636976; }
  .triangle_calculator {
    border-bottom: calc(0.1 * 100vw) solid #566472; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .modal_open {
    opacity: 1;
    visibility: visible; }
  .modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 40px;
    color: #fff;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer; }
  .modal__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px; }
  .modal__content {
    position: relative;
    border: solid 2px #fff;
    border-radius: 30px;
    max-width: 1100px;
    padding: 20px;
    background: rgba(40, 40, 40, 0.8);
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s; }
  .modal__title {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 28px; }
  .modal__text {
    line-height: 30px;
    margin-top: 40px; }

/*---/Repeated Elements---*/
/*---Responsetive---*/
@media screen and (max-width: 1200px) {
  .about__item-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 50%;
    flex: 0 50%; }
  .about__item {
    width: 450px;
    height: auto; }
  .monument__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (max-width: 1000px) {
  .navbar__menu {
    display: none; }
  .about__item {
    width: 350px;
    height: auto; } }

@media screen and (max-width: 800px) {
  .about__item {
    width: 270px;
    height: auto; }
  .granite__types {
    border: 3px solid #8A8F6A;
    border-radius: 50px;
    padding-bottom: 30px;
    background: #636976; }
  .granite__img {
    width: 33%; }
    .granite__img:nth-of-type(4) {
      width: 50%;
      margin: 0 auto;
      z-index: 2; }
      .granite__img:nth-of-type(4)::before {
        display: none; }
    .granite__img:nth-of-type(5) {
      width: 50%;
      margin: 0 auto;
      z-index: 2; }
      .granite__img:nth-of-type(5)::before {
        display: none; } }

@media screen and (max-width: 600px) {
  .about__item-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 100%;
    flex: 0 100%; }
  .about__item {
    width: 100%;
    height: auto; }
  .granite__img {
    width: 50%; } }

/*---/Responsetive---*/
